.bg-primary {
  /* background-color: rgb(186, 207, 226) !important; */
  background: linear-gradient(
    79deg,
    #7439db,
    hsl(307, 43%, 61%) 48%,
    #f7944d
  ) !important;
  background-position: top;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: inherit;
}
.bg-box {
  border-radius: 1px !important;
  background-color: rgb(236 230 234 / 94%) !important;
  opacity: 0.9;
}

.box-title,
label,
p {
  color: white !important;
  font-weight: bolder;
}

label {
  color: rgb(68, 59, 59) !important;
}

input {
  background-color: #67656b8c !important;
  color: white !important;
}

input::placeholder {
  color: white !important;
}

input::-moz-focus-inner {
  border: none !important;
}
form {
  padding: 7%;
}
.box-title {
  padding: 0% 7%;
  color: rgba(10, 9, 9, 0.5) !important;
}
.btn-success {
  background-color: #3c913c !important;
}
.needhelp {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}
.btn-link {
  font-size: small;
}
.switch-btwn-pages {
  font-size: medium;
}
