.bg-primary {
  display: flex;
  height: auto;
  width: auto;
  background: linear-gradient(
    79deg,
    #7439db,
    hsl(307, 43%, 61%),
    #7439db /* #f7944d */
  ) !important;
}
.bg-white {
  border-radius: 0px !important;
  background-color: black !important;
  opacity: 0.9;
}
.bg-box {
  background-color: rgb(236 230 234 / 94%) !important;
}
.box-title,
label,
p {
  color: rgb(5, 3, 3) !important;
}

label {
  color: rgb(68, 59, 59) !important;
}

input {
  background-color: #67656b8c !important;
  color: white !important;
}

input::placeholder {
  color: white !important;
}

input::-moz-focus-inner {
  border: none !important;
}
form {
  padding: 7%;
}

.box-title {
  padding: 0%7%;
  color: rgba(5, 5, 5, 0.5) !important;
}

.btn-success {
  background-color: #3c913c !important;
}

.btn-alignment {
  width: 100px !important;
}
.btn-center {
  text-align: center;
}
.needhelp {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}
.formlayout {
  display: flex;
  align-items: center;
  /* gap: 15px; */
  justify-content: space-around;
}
.btn-link {
  font-size: small;
}
.switch-btwn-pages {
  font-size: small;
}

.radio-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
